{sub_dirs, ["apps/testtask", "rel"]}.
{deps,
  [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
    {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.